body {
	background-color:#fff;
}
iframe {
	width: 100%
	height: 480px;
}
p {
	color: #000;
	font-size: 20px;
}
a {
	color: #000;
	font-size: 30px;
}
#amir {
	width: 50%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 2;
	transition: width 2s, height 2s, transform 2s;
	-moz-transition: width 2s, height 2s, -moz-transform 2s;
	-webkit-transition: width 2s, height 2s, -webkit-transform 2s;
	-o-transition: width 2s, height 2s,-o-transform 2s;
}
#amir.active {
    width: 25%;
}
.header {
	font-family: verdana;
	font-size: 25px;
	color: red;
	position: absolute;
}
.container {
	width: 100%;
	display: block;
	margin: 0px auto;
}
#webpage {
	width: 98%;
	height: 600px;
	position: absolute;
	margin: 0px auto;
	z-index: -1;
	transition: width 2s, height 2s, transform 2s;
	-moz-transition: width 2s, height 2s, -moz-transform 2s;
	-webkit-transition: width 2s, height 2s, -webkit-transform 2s;
	-o-transition: width 2s, height 2s,-o-transform 2s;
}
#full {
	position: relative;
	float: right;
	width: 65%;
	z-index: 3;
	display: none;
	transition: width 2s, height 2s, transform 2s;
	-moz-transition: width 2s, height 2s, -moz-transform 2s;
	-webkit-transition: width 2s, height 2s, -webkit-transform 2s;
	-o-transition: width 2s, height 2s,-o-transform 2s;
}
#full.active {
	display: block;
}
#full2 {
	position: relative;
	float: right;
	width: 65%;
	z-index: 3;
	display: none;
	transition: width 2s, height 2s, transform 2s;
	-moz-transition: width 2s, height 2s, -moz-transform 2s;
	-webkit-transition: width 2s, height 2s, -webkit-transform 2s;
	-o-transition: width 2s, height 2s,-o-transform 2s;
}
#full2.active {
	display: block;
}
#box {
	width: 50%;
	height: 500px;
	float: right;
	margin: 0px auto;
	display: block;
	color: #000;
	font-size: 25px;
	overflow: hidden;
	transition: width 2s, height 2s, transform 2s;
	-moz-transition: width 2s, height 2s, -moz-transform 2s;
	-webkit-transition: width 2s, height 2s, -webkit-transform 2s;
	-o-transition: width 2s, height 2s,-o-transform 2s;
}
#insidebox {
	width: 90%;
	float: right;
}
