body {
	background-color:black;
}
iframe {
	width: 100%
	height: 480px;
}
p {
	color: #fff;
	font-size: 20px;
}
a {
	color: #fff;
	font-size: 30px;
}
#amir {
	width: 50%;
	position: absolute;
	z-index: 2;
	transition: width 2s, height 2s, transform 2s;
	-moz-transition: width 2s, height 2s, -moz-transform 2s;
	-webkit-transition: width 2s, height 2s, -webkit-transform 2s;
	-o-transition: width 2s, height 2s,-o-transform 2s;
}
#amir.active {
    width: 25%;
}
.header {
	font-family: verdana;
	font-size: 25px;
	color: red;
	position: absolute;
}
.supercontainer {
	display:block;
	width: 95%;
	position: absolute;
	margin-top: 50px;
}
.container {
	width: 1200px;
	display: block;
	margin: 0px auto;
}
#webpage {
	width: 900px;
	height: 600px;
	position: absolute;
	z-index: -1;
	top: 25px;
	left: 300px;
	transition: width 2s, height 2s, transform 2s;
	-moz-transition: width 2s, height 2s, -moz-transform 2s;
	-webkit-transition: width 2s, height 2s, -webkit-transform 2s;
	-o-transition: width 2s, height 2s,-o-transform 2s;
}
#full {
	position: absolute;
	left: 330px;
	z-index: 3;
	display: none;
	transition: width 2s, height 2s, transform 2s;
	-moz-transition: width 2s, height 2s, -moz-transform 2s;
	-webkit-transition: width 2s, height 2s, -webkit-transform 2s;
	-o-transition: width 2s, height 2s,-o-transform 2s;
}
#full.active {
	display: block;
}
#box {
	width: 500px;
	height: 500px;
	float: right;
	transition: width 2s, height 2s, transform 2s;
	-moz-transition: width 2s, height 2s, -moz-transform 2s;
	-webkit-transition: width 2s, height 2s, -webkit-transform 2s;
	-o-transition: width 2s, height 2s,-o-transform 2s;
}
#insidebox {
	width: 450px;
	height: 450px;
	margin: 0px auto;
	display: block;
	color: #fff;
	overflow: hidden;
	transition: width 2s, height 2s, transform 2s;
	-moz-transition: width 2s, height 2s, -moz-transform 2s;
	-webkit-transition: width 2s, height 2s, -webkit-transform 2s;
	-o-transition: width 2s, height 2s,-o-transform 2s;
}